*{
    font-family: "Montserrat", Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.header{
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: 100%;
    background-repeat: no-repeat;
}   
.header .overlay{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
}
.header .header-top .header-top-left a{
    position:absolute;
    top: 40px;
    left: 50px;
    z-index: 1;
    text-decoration: none;
    font-weight: 900;
    font-size: 40px;
    color: white;
}
.header .header-top .header-top-right {
    position:absolute;
    top: 56px;
    left: 560px;
}
.header .header-top .header-top-right  nav a{
    color: white;
    margin-left: 50px;
    text-decoration: none;
    font-weight: lighter;
}
.header .header-top .search{
    border: 1px solid rgba(8, 7, 7, 0.6);
    border-radius: 45px;
    position:absolute;
    top: 48px;
    right: 50px;
    color: rgb(92, 89, 89);
    background-color: white;
    padding-right: 15px;
    padding-left: 5px;
}
.header .header-top .search table tr th input{
    padding: 6px;
    color: rgb(92, 89, 89);
    border: none;
}
.header .header-top .search table tr th input:focus{
    outline: none;
}