table{
    border-collapse: collapse;
    border:  2px solid #75b43a ;
}
th{
    border: 1px solid #ffffff;
    background-color: #75b43a;
    color: white;
    padding: 16px;
}
.one-col{
    border: none;
}
td{
    border-bottom: 2px solid #75b43a;
    border-left: 2px solid #75b43a;
    text-align: center;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
}