table{
    border-collapse: collapse;
    border:  3px solid #8ab9e3;
}
th{
    border: 3px solid #8ab9e3;
    background-color: #0170bf;
    color: white;
    font-weight: 300;
    padding: 16px;
}
td{
    border-bottom: 3px solid #8ab9e3;
    border-left: 3px solid #8ab9e3;
    text-align: center;
    padding: 12px;
    padding-left: 40px;
    padding-right: 40px;
}
tr:nth-child(2n+1){
    background-color: #f1f1f1;
}